body {
	background-color: gray;
	margin: 0 10%;
	font-family:sans-serif;
	
img {
		border: 1px solid #ddd;
		border-radius: 4px;
		padding: 5px;
		width: 600px;
		max-width: 100%;
		height: auto;
	  }


	  
}
h1 {
	text-align: center;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	text-shadow: .07em .07em .1em lightgray;
	color:black;
	margin-top: 40px;
	text-transform: uppercase;
	border-top: 3px solid white;
	border-bottom: 3px solid white;
	font-size: 500%;
}
h2 {
	text-align: center;
	color: black;
	text-decoration: wavy;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 250%;
	
}
h2 img {
	width: 100px;
	height: 100px;

}
.otsikot {
	text-align: center;
	font-family: 'Times New Roman', Times, serif;
	text-transform: capitalize;
	text-shadow: .05em .05em .1em lightgray;

}
p {
	text-align: center;
	color: rgb(0, 0, 0);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;

}
#boba {
	text-align: center;
	text-transform: uppercase;
	color: black;
	font-family:'Times New Roman', Times, serif;
	text-shadow: .07em .07em .1em;
	
}
footer {
	border-top: 2px solid;
	text-align: center;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	padding-top: 1em;
	padding-bottom: 1em;
	font-size: 100%;
	
}
